.App {
  text-align: center;
}
.global__app {
  display: flex;
  height: 90vh;
  width: 100%;
}
.global__app > div {
  width: 100%;
}
.sidebar__left {
  flex: 0.2;
}
.main__body {
  flex: 0.6;
  background-color: #f7f7f7;
  padding: 30px;
}
.sidebar__right {
  flex: 0.2;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Animation React router transition */
